@font-face {
    font-family: 'Chakra_Petch';
    src: url('fonts/ChakraPetch-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MochyPop';
    src: url('fonts/MochiyPopPOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'PermanentMarker';
    src: url('fonts/PermanentMarker-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Satisfy';
    src: url('fonts/Satisfy-Regular.ttf') format('truetype');
}

h1 {
    font-size: 5.9vw;
}

h2 {
    font-size: 3.0vh;
}

p {
    font-size: 2vmin;
}