@font-face {
    font-family: 'Chakra_Petch';
    src: url('fonts/ChakraPetch-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MochyPop';
    src: url('fonts/MochiyPopPOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'PermanentMarker';
    src: url('fonts/PermanentMarker-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Satisfy';
    src: url('fonts/Satisfy-Regular.ttf') format('truetype');
}